
    body {
    background-color: #a1cae2;
  }
 h1{
   color: #4a47a3;

 }


h3{
  color: #4a47a3;
  font-style: italic;
}


p{
  font-family: Arial;
}



hr  {
  border: none;
  border-style: none;
  border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 40%;

}

.goku {
  height: 220px;
  float: left;

}

.freiza {
  float: right;
  height: 300px;


}
